[submodule "NS3Wrapper"]
	path = NS3Wrapper
	url = https://github.com/LucaVignati/NS3Wrapper.git
[submodule "contrib/nr"]
	path = contrib/nr
	url = https://github.com/LucaVignati/nr.git
[submodule "graphs"]
	path = graphs
	url = https://github.com/LucaVignati/graphs.git
