*.diff
*.orig
*.patch
*.rej

*.o
*.pyc
*.pyo

*.cwnd
*.dat
*.log
*.mob
*.pcap
*.plt
*.routes
*.tr
[D|U]l[A-Z][a-z]*Stats.txt

\#*#
*~

testpy-output

bindings/python/pybindgen/

ms_print.*
massif.*
coverity
TAGS

.lock-ns3_*

build-dir/
build/
/.cproject
/.project

version.cache

.vscode*
5G-Scenario1.xml
5G-Scenario2.xml
4G-Scenario2.xml
RxPacketTrace.txt
RxedGnbMacCtrlMsgsTrace.txt
RxedGnbPhyCtrlMsgsTrace.txt
RxedUeMacCtrlMsgsTrace.txt
RxedUePhyCtrlMsgsTrace.txt
RxedUePhyDlDciTrace.txt
SinrTrace.txt
TxedGnbMacCtrlMsgsTrace.txt
TxedGnbPhyCtrlMsgsTrace.txt
TxedUeMacCtrlMsgsTrace.txt
TxedUePhyCtrlMsgsTrace.txt
UE-REM.txt
animation.xml
consolidate.py
eNB-REM.txt
lena-mec.rem
lena-simple-epc.xml
my_plot_script
nr-rem-2-UEs-ues.txt
ns3.sh
ns3_multiple.sh
outputProva1
plot.sh
transferFile.txt
simulationLog.txt
graphs/
.gitlab-ci-local/
.idea/
cmake-cache/
cmake-build-debug/
cmake-build-relwithdebinfo/
cmake-build-minsizerel/
cmake-build-release/
.vscode/
simLog.txt

.vscode/*
!.vscode/launch.json
!.vscode/tasks.json
