# Ignore everything on scratch by default, except the provided examples
/*
!.gitignore
!subdir/
!scratch-simulator.cc
!4G-Scenario1.cc
!4G-Scenario2.cc
!5G-Scenario1.cc
!5G-Scenario2.cc
!CMakeLists.txt
